#background {
}

div {
	border-radius: 20%;
}

#split {
	display: flex;
	justify-content: space-evenly;

	height: calc(100vh - 82px);
}

body,
.home2 {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
	height: 100%;
	overflow-y: auto;
	border-radius: 20%;
}
.pimg12,
.pimg22,
.pimg32,
.pimg42,
.pimg52 {
	position: relative;
	opacity: 0.7;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/* fixed = parallax
	scroll = normal */
}
.pimg12 {
	background-image: url("/assets/Aboutus/cutie.jpg");

	min-height: 800px;
}
.pimg22 {
	background-image: url("/assets/Aboutus/tagteam.jpg");
	background-attachment: fixed;

	min-height: 400px;
}
.pimg32 {
	background-image: url("/assets/Aboutus/kimiwa.jpg");
	background-attachment: fixed;
	background-position-x: -200px;
	min-height: 400px;
}
.pimg42 {
	background-image: url("/assets/HomePage/background7.jpg");
	background-attachment: fixed;
	min-height: 400px;
}
.pimg52 {
	background-image: url("/assets/HomePage/background4.jpg");
	background-attachment: fixed;
	min-height: 400px;
}

.section2 {
	text-align: center;
	padding: 50px 80px;
	min-height: 200px;
	border-radius: 20%;
}
.section-light2 {
	background-color: #f4f4f4;
	color: #666;
}
.section-dark2 {
	background-color: #282e34;
	color: #ddd;
}

.ptext2 {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}
.route-link2 {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 5px;
	font-weight: bold;
	font-size: 14px;
}

.home12 {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}
.pimg11,
.pimg21,
.pimg31,
.pimg41,
.pimg51 {
	position: relative;
	opacity: 0.7;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/* fixed = parallax
	scroll = normal */
}
.pimg11 {
	background-image: url("/assets/aboutus/jayjay.jpg");
	/* background-size: 80%;
	background-position-x: 800px; */
	min-height: 800px;
}
.pimg21 {
	background-image: url("/assets/Aboutus/tagteam.jpg");
	min-height: 400px;
	background-attachment: fixed;
}
.pimg31 {
	background-image: url("/assets/HomePage/background3.png");
	min-height: 400px;
	background-attachment: fixed;
}
.pimg41 {
	background-image: url("/assets/HomePage/background7.jpg");
	min-height: 400px;
	background-attachment: fixed;
}
.pimg51 {
	background-image: url("/assets/HomePage/background4.jpg");
	min-height: 400px;
	background-attachment: fixed;
}

.section1 {
	text-align: center;
	padding: 50px 80px;
	min-height: 200px;
	border-radius: 20%;
}
.section-light1 {
	background-color: #f4f4f4;
	color: #666;
}
.section-dark1 {
	background-color: #282e34;
	color: #ddd;
}

.ptext1 {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}
.route-link1 {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 5px;
	font-weight: bold;
	font-size: 14px;
}
