/* To use this, you need three levels like this:
<div className="speech-buble-wrapper">
  <div className="speech-bubble">
    <p>This is supposed to be a bubble</p>
  </div>
</div>
*/

.speech-buble-wrapper {
  display: flex;
}

.speech-bubble p {
  margin: 0.3em;
}

.speech-bubble {
  position: relative;
  background: #23b166;
  border-radius: 0.4em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #23b166;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -12px;
}
