#divider {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: solid red 1px;
}

#left {
	border: solid red 1px;

	width: 40%;
}

#profile {
	border: solid red 1px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;

	margin: 2%;
}
#profile-about {
	display: flex;
	text-align: center;
	margin: 2%;
}

#profile-img {
	border-radius: 20%;
	max-width: 30%;
	margin: 3%;
	height: auto;
}

.right {
	border: solid red 1px;
	border-radius: 2em;
	background-color: darkgray;
	width: 60%;
	margin: 2%;
}
.post {
	border: solid red 1px;
	margin: 2%;
}

#form-post {
	margin: 3%;
}

.requests {
	background-color: gray;
}

#profile-button {
	display: flex;
	justify-content: space-between;
}
