.playerScoreBox {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin-top: 0vh;
	align-items: center;
}

.playerBubble {
	position: relative;
	height: 5vh;
}

.playerBubble:after {
	position: absolute;
	top: 0;
}

.eachBoxPlayer {
	display: flex;
	flex-direction: column;
	align-items: center;

	justify-content: space-between;
}

.playerScore {
	position: relative;
}

.playerName {
	position: relative;
}

.yellowBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
